.list {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  padding: 0 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.item:nth-child(even) {
  background-color: #a4aefe;
}

.btn-delete {
  color: #ffffff;
  background-color: #ff4d4d;
  font-weight: 600;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
